/*
* OVERRIDE BOOTSTRAP VARIABLES
*/

$theme-colors: (
    "primary": #1C4F59,
    "secondary": #3FB4CC
);

$font-base: 'Montserrat';

@import '~bootstrap/scss/bootstrap';


/*
* VARIABLES
*/

$dark-blue: #1C4F59;
$light-blue: #3FB4CC;
$super-light-blue: #32D4BE;
$lime: #DAE579;
$light-grey: #F2F2F2;